<h1>Fundraisers for <%= @fundraisers_data['data']['fundraisers'][0]['name'] %></h1>

<% @fundraisers.each do |fundraiser| %>
  <div>
    <h2><%= fundraiser['name'] %></h2>
    <p>Goal Amount: <%= fundraiser['goalAmount'] %></p>
    <h2><%= fundraiser['id'] %></h2>
    <%= link_to fundraiser['name'], masjid_fundraiser_path(params[:id], fundraiser['id']) %>
  </div>
<% end %>

<%= link_to 'Back to Masjids List', masjids_path %>
